@import "./libs/fonctions.scss";
.list {
   &.horizontal {
      width: 90vw;
      display: flex;
		flex-wrap: wrap;
		justify-content: center;
      margin: auto;
      max-width: 1024px;
      margin-top: 2vh;
      margin-bottom: 5vh;
	}
	
	&.vertical {
		
	}

   .card {
      display: flex;
		width: 20%;
		margin: 0px rem(5);
		box-shadow: black 0px 0px rem(4);
		

      a {
         display: flex;
         flex-direction: column;
			align-items: center;
			text-decoration: none;
			color: initial;

			&:hover {
            opacity: 0.9;
         }

         img {
            width: 100%;
			}
			
			h3 {
				padding: rem(3);
			}

			.describ {
				padding: rem(3);
				text-align: center;

				strong {
					color: #2c47be;
				}
			}
      }
   }
}
